<ion-view view-title="Status">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Test: nessun salvataggio in memoria ogni cambio pagina richiede una  <b>nuova get</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Altro</div>
      <div class="item item-body">
        <div>
          super !
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Altro ++</div>
      <div class="item item-body">
        <div>
          Ci sono <b>29</b> tweet.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
